/*BEGIN NEC PC Engine Duo-R Controller Styling*/

/* Main */
.controller.custom {
  position: absolute;
  background-image: url(pc-engine/base-duo-r.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.controller.custom:not(.disconnected) {
  background-image: url(pc-engine/base-duo-r.svg);
}

.custom.disconnected {
  background-image: url(pc-engine/disconnected.svg);
}

.custom.disconnected div {
  display: none;
}

/* Run and Select */
.custom .arrows {
}

.custom .start, .custom .back {
  position: absolute;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.custom .start {
  background-image: url(pc-engine/run-pdx.svg);
}

.custom .start.pressed {
  background-image: url(pc-engine/pressed-run.svg);
}

.custom .back {
  background-image: url(pc-engine/select-pdx.svg);
}

.custom .back.pressed {
  background-image: url(pc-engine/pressed-select.svg);
}

/* 1 and 2 */
.custom .abxy {
}

.custom .button {
  position: absolute;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.custom .a {
  background-image: url(pc-engine/button-pdx-2.svg);
}

.custom .a.pressed {
  background-image: url(pc-engine/pressed-button-2.svg);
}

.custom .b {
  background-image: url(pc-engine/button-pdx-1.svg);
}

.custom .b.pressed {
  background-image: url(pc-engine/pressed-button-1.svg);
}

/* D-Pad */
.custom .dpad {
}

.custom .dpad::before {
  content: '';
  /* background-image: url(pc-engine/dpad.svg); */
}

.custom .face {
  position: absolute;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.custom .face.up {
}

.custom .face.up.pressed {
  background-image: url(pc-engine/pressed-dpad-up.svg);
}

.custom .face.down {
}

.custom .face.down.pressed {
  background-image: url(pc-engine/pressed-dpad-down.svg);
}

.custom .face.left {
}

.custom .face.left.pressed {
  background-image: url(pc-engine/pressed-dpad-left.svg);
}

.custom .face.right {
}

.custom .face.right.pressed {
  background-image: url(pc-engine/pressed-dpad-right.svg);
}
