/*BEGIN 8BitDo M30 Black Controller Styling*/

/* Main */
.controller.custom {
  position: absolute;
  background-image: url(m30/black-base.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 562px;
  height: 286px;
  transform: scale(1.42348) translate(-50%, -50%);
}

.controller.custom:not(.disconnected) {
  background-image: url(m30/black-base.svg);
}

.custom.disconnected {
  background-image: url(m30/disconnected.svg);
}

.custom.disconnected div {
  display: none;
}

/* C, Z and Shifts */
.custom .bumpers {
}

.custom .bumper {
  position: absolute;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.custom .bumper.left {
  background-image: url(m30/black-shift.svg);
}

.custom .bumper.left.pressed {
  background-image: url(m30/pressed-shift.svg);
}

.custom .bumper.right {
  background-image: url(m30/black-button-z.svg);
}

.custom .bumper.right.pressed {
  background-image: url(m30/pressed-button-z.svg);
}

.custom .triggers {
}

.custom .trigger-button {
  position: absolute;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.custom .trigger-button.left {
  background-image: url(m30/black-shift.svg);
  transform: rotateY(180deg);
}

.custom .trigger-button.left.pressed {
  background-image: url(m30/pressed-shift.svg);
  transform: rotateY(180deg);
}

.custom .trigger-button.right {
  background-image: url(m30/black-button-c.svg);
}

.custom .trigger-button.right.pressed {
  background-image: url(m30/pressed-button-c.svg);
}

/* Start and Select. */
.custom .arrows {
}

.custom .start, .custom .back {
  position: absolute;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.custom .start {
  background-image: url(m30/black-start.svg);
}

.custom .start.pressed {
  background-image: url(m30/pressed-start.svg);
}

.custom .back {
  /* background-image: url(m30/pressed-back.svg); */
}

.custom .back.pressed {
  background-image: url(m30/pressed-select.svg);
}

/* A, B, X and Y  */
.custom .abxy {
}

.custom .button {
  position: absolute;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.custom .a {
  background-image: url(m30/black-button-a.svg);
}

.custom .a.pressed {
  background-image: url(m30/pressed-button-a.svg);
}

.custom .b {
  background-image: url(m30/black-button-b.svg);
}

.custom .b.pressed {
  background-image: url(m30/pressed-button-b.svg);
}

.custom .x {
  background-image: url(m30/black-button-x.svg);
}

.custom .x.pressed {
  background-image: url(m30/pressed-button-x.svg);
}

.custom .y {
  background-image: url(m30/black-button-y.svg);
}

.custom .y.pressed {
  background-image: url(m30/pressed-button-y.svg);
}

/* Dpad */
.custom .dpad {
}

.custom .dpad::before {
  content: '';
  background-image: url(m30/dpad.svg);
}

.custom .face {
  position: absolute;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.custom .face.up {
}

.custom .face.up.pressed {
  background-image: url(m30/pressed-dpad-up.svg);
}

.custom .face.down {
}

.custom .face.down.pressed {
  background-image: url(m30/pressed-dpad-down.svg);
}

.custom .face.left {
}

.custom .face.left.pressed {
  background-image: url(m30/pressed-dpad-left.svg);
}

.custom .face.right {
}

.custom .face.right.pressed {
  background-image: url(m30/pressed-dpad-right.svg);
}
