/*BEGIN Famiclone Controller Styling*/

/* Main */
.controller.custom {
  position: absolute;
  background-image: url(junior/famiclone-base.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.controller.custom:not(.disconnected) {
  background-image: url(junior/famiclone-base.svg);
}

.custom.disconnected {
  background-image: url(junior/famiclone-disconnected.svg);
}

.custom.disconnected div {
  display: none;
}

/* Player Indicator */
.custom .quadrant {
  position: absolute;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.custom .p0 {
  background-image: url(junior/famiclone-p1.svg);
}

.custom .p1 {
  background-image: url(junior/famiclone-p2.svg);
}

.custom .p2 {
  background-image: url(junior/famiclone-p3.svg);
}

.custom .p3 {
  background-image: url(junior/famiclone-p4.svg);
}

/* Start and Select. */
.custom .arrows {
}

.custom .start, .custom .back {
  position: absolute;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.custom .start {
  background-image: url(junior/black-start.svg);
}

.custom .start.pressed {
  background-image: url(junior/pressed-start.svg);
}

.custom .back {
  background-image: url(junior/black-select.svg);
}

.custom .back.pressed {
  background-image: url(junior/pressed-select.svg);
}

/* A, B, X and Y  */
.custom .abxy {
}

.custom .button {
  position: absolute;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.custom .a {
  background-image: url(junior/black-button-b.svg);
}

.custom .a.pressed {
  background-image: url(junior/pressed-button-b.svg);
}

.custom .b {
  background-image: url(junior/black-button-a.svg);
}

.custom .b.pressed {
  background-image: url(junior/pressed-button-a.svg);
}

.custom .x {
  background-image: url(junior/black-button-y.svg);
}

.custom .x.pressed {
  background-image: url(junior/pressed-button-y.svg);
}

.custom .y {
  background-image: url(junior/black-button-x.svg);
}

.custom .y.pressed {
  background-image: url(junior/pressed-button-x.svg);
}

/* Dpad */
.custom .dpad {
}

.custom .dpad::before {
  content: '';
  /* background-image: url(junior/dpad.svg); */
}

.custom .face {
  position: absolute;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.custom .face.up {
}

.custom .face.up.pressed {
  background-image: url(junior/pressed-dpad-cross-up.svg);
}

.custom .face.down {
}

.custom .face.down.pressed {
  background-image: url(junior/pressed-dpad-cross-down.svg);
}

.custom .face.left {
}

.custom .face.left.pressed {
  background-image: url(junior/pressed-dpad-cross-left.svg);
}

.custom .face.right {
}

.custom .face.right.pressed {
  background-image: url(junior/pressed-dpad-cross-right.svg);
}
