/*BEGIN Sega Dreamcast Black Controller Styling*/

/* Main */
.controller.custom {
  position: absolute;
  background-image: url(dreamcast/black-base.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 560px;
  height: 596px;
  transform: scale(1.00671) translate(-50%, -50%);
}

.controller.custom:not(.disconnected) {
  background-image: url(dreamcast/black-base.svg);
}

.custom.disconnected {
  background-image: url(dreamcast/disconnected.svg);
}

.custom.disconnected div {
  display: none;
}

/* Player Indicator */
.custom .quadrant {
  position: absolute;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.custom .p0 {
  background-image: url(dreamcast/p1.svg);
}

.custom .p1 {
  background-image: url(dreamcast/p2.svg);
}

.custom .p2 {
  background-image: url(dreamcast/p3.svg);
}

.custom .p3 {
  background-image: url(dreamcast/p4.svg);
}

/* Shifts */
.custom .triggers {
}

.custom .trigger-button {
  position: absolute;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.custom .trigger-button.left {
  background-image: url(dreamcast/white-trigger.svg);
}

.custom .trigger-button.left.pressed {
  background-image: url(dreamcast/pressed-trigger.svg);
}

.custom .trigger-button.right {
  background-image: url(dreamcast/white-trigger.svg);
  transform: rotateY(180deg);
}

.custom .trigger-button.right.pressed {
  background-image: url(dreamcast/pressed-trigger.svg);
  transform: rotateY(180deg);
}

/* Start. */
.custom .arrows {
}

.custom .start {
  position: absolute;
  background-size: 100%;
  background-position: center;
  background-image: url(dreamcast/white-start.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.custom .start.pressed {
  background-image: url(dreamcast/pressed-start.svg);
}

/* A, B, X and Y  */
.custom .abxy {
}

.custom .button {
  position: absolute;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.custom .a {
  background-image: url(dreamcast/button-a.svg);
}

.custom .a.pressed {
  background-image: url(dreamcast/pressed-button-a.svg);
}

.custom .b {
  background-image: url(dreamcast/button-b.svg);
}

.custom .b.pressed {
  background-image: url(dreamcast/pressed-button-b.svg);
}

.custom .x {
  background-image: url(dreamcast/button-x.svg);
}

.custom .x.pressed {
  background-image: url(dreamcast/pressed-button-x.svg);
}

.custom .y {
  background-image: url(dreamcast/button-y.svg);
}

.custom .y.pressed {
  background-image: url(dreamcast/pressed-button-y.svg);
}

/* Dpad */
.custom .dpad {
}

.custom .dpad::before {
  content: '';
  background-image: url(dreamcast/white-dpad.svg);
}

.custom .face {
  position: absolute;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.custom .face.up {
}

.custom .face.up.pressed {
  background-image: url(dreamcast/pressed-dpad-up.svg);
}

.custom .face.down {
}

.custom .face.down.pressed {
  background-image: url(dreamcast/pressed-dpad-down.svg);
}

.custom .face.left {
}

.custom .face.left.pressed {
  background-image: url(dreamcast/pressed-dpad-left.svg);
}

.custom .face.right {
}

.custom .face.right.pressed {
  background-image: url(dreamcast/pressed-dpad-right.svg);
}

/* Stick */
.custom .sticks {
  position: absolute;
  width: 71px;
  height: 71px;
  top: 168px;
  left: 37px;
}

.custom .stick {
  position: absolute;
  height: 71px;
  width: 71px;
}

.custom .stick.left {
  background: url(dreamcast/white-stick.svg);
}

.custom .stick.left.pressed {
  background: url(dreamcast/pressed-stick.svg);
}
